# Secrets
.env

# Database
data/
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal

# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
